/*------font------*/

/* Outfit */

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit/Outfit-Regular.woff2') format('woff2'),
         url('./fonts/Outfit/Outfit-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0020-007E; /* 영문 유니코드 범위 */
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit/Outfit-Medium.woff2') format('woff2'),
         url('./fonts/Outfit/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0020-007E; /* 영문 유니코드 범위 */
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit/Outfit-Bold.woff2') format('woff2'),
         url('./fonts/Outfit/Outfit-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0020-007E; /* 영문 유니코드 범위 */
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit/Outfit-SemiBold.woff2') format('woff2'),
         url('./fonts/Outfit/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0020-007E; /* 영문 유니코드 범위 */
}

/* Pretendard */

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard/Pretendard-Regular.woff2') format('woff2'),
         url('./fonts/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard/Pretendard-Medium.woff2') format('woff2'),
         url('./fonts/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard/Pretendard-Bold.woff2') format('woff2'),
         url('./fonts/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
         url('./fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


/* Libre Baskerville */

@font-face {
    font-family: 'Libre Baskerville';
    src: url('./fonts/Libre_Baskerville/LibreBaskerville-Regular.woff2') format('woff2'),
         url('./fonts/Libre_Baskerville/LibreBaskerville-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}