/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-item {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9E9E9;
}
