/*==================================
  reset & variables
==================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-030: #F5F8FA;
    --color-050: #EFF3F5;
    --color-080: #E4E9ED;
    --color-100: #DAE1E6;
    --color-200: #BEC8CF;
    --color-250: #B1BDC4;
    --color-300: #A3AEB5;
    --color-350: #99A5AD;
    --color-400: #899449;
    --color-500: #717D85;
    --color-600: #5C6469;
    --color-700: #434B4F;
    --color-800: #292F33;
    --color-900: #12171A;
    
    /* Card Colors */
    --color-dummy: #4A90E2;
    
    /* Layout */
    --max-width: 1300px;
    --container-padding: 2rem;
}

/*==================================
  global
==================================*/
body {
    font-family: 'Pretendard', sans-serif;
    background-color: var(--color-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*==================================
  desktop 🖥️
==================================*/
/*==================================
  top navigation & mobile menu & footer
==================================*/
.navbar {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    height: 90px;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
}

.logo {
    text-decoration: none;
    color: var(--color-900);
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-item {
    color: var(--color-900);
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.nav-item:hover {
    opacity: 0.7;
}

.nav-item.active {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

/* mobile menu */
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 101;
    -webkit-tap-highlight-color: transparent;
}

.mobile-menu-button .bar {
    display: block;
    height: 3px;
    margin: 6px 0;
    background-color: var(--color-900);
    transition: all 0.3s ease;
}

.mobile-menu-button .bar.long {
    width: 28px;
}

.mobile-menu-button .bar.short {
    width: 18px;
    margin-left: 10px;
}

.mobile-menu-button.active .bar.long {
    transform: rotate(45deg) translate(5px, 5px);
    width: 28px;
}

.mobile-menu-button.active .bar.short {
    transform: rotate(-45deg) translate(5px, -5px);
    width: 28px;
    margin-left: 0;
}

/* footer */
.footer {
    padding: 4rem 0;
    margin-top: auto;
}

.footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-left p {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.footer-right {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.footer-right img {
    width: 50px;
    transition: opacity 0.3s ease;
}

.footer-right a:hover img {
    opacity: 0.7;
}

/*==================================
  main
==================================*/
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1000px;
}

.hero-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* project cards */

.projects {
    padding: 2rem var(--container-padding);
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 12rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2.5rem;
}

.project-card {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.project-card:hover {
    opacity: 0.8;
}

.card-image {
    width: 100%;
    height: 350px;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    top: 1.5rem;
    right: 0;
    background-color: var(--color-900);
    color: var(--color-white);
    padding: 0.25rem 1rem;
    border-radius: .3rem 0 0 .3rem;
    font-weight: 500;
    font-size: 1.5rem;
    z-index: 1;
}

.card-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--color-900);
}

.card-subtitle {
    font-size: 1.35rem;
    font-weight: 300;
    color: var(--color-500);
    line-height: 1.65;
}

/*==================================
  work
==================================*/

.work {
    padding: 11rem 0 11rem;
}

.work-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

/* chevron button */
.chevron-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.chevron-button img {
    width: 26px;
    opacity: 0.7;
}

.chevron-button.active {
    transform: rotate(180deg);
}

.collapsible-content {
    display: block;
}

.collapsible-content.active {
    display: none;
}

/* container & item divider */
.work-body {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 1px solid var(--color-100);
}

.work-body-item {
    margin-bottom: 2.9rem;
}

.work-body-item:last-child {
    margin-bottom: 0;
}

.work-divider {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
}

.work-divider img {
    width: 80px;
    margin: 1rem auto;
}


/* header */
.work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.header-title h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-900);
}

.header-period {
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-700);
}

.header-description {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-500);
    line-height: 1.9;
}

/* body*/
.body-teamTitleStart {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-500);
    margin-bottom: 1.8rem;
}

.body-teamTitleEnd {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-500);
    margin: 4rem 0 1.8rem 0;
}

.body-title {
    font-size: 1.37rem;
    font-weight: 600;
    color: var(--color-900);
    margin-bottom: 0.6rem;
}

.body-title a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: opacity 0.3s ease;
}

.body-title a:hover {
    opacity: 0.7;
}

.body-title span {
    font-weight: 400;
    margin-left: 0.5rem;
}

.body-description {
    font-size: 1.23rem;
    font-weight: 300;
    line-height: 1.8;
    color: var(--color-500);
}

/* body meta */

.body-title-meta {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.link-icon {
    width: 22px;

}

.body-title a .title-tag {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--color-600);
    padding: 0.1rem 0.4rem;
    background-color: var(--color-080);
    border-radius: 4px;
    margin-left: 0rem;
}

/* preview image */
.project-image-preview {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
    width: 1000px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    line-height: 0;
    font-size: 0;
    transition: opacity 0.3s ease;
}

.project-image-preview img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

.has-preview {
    cursor: pointer;
    position: relative;
}

/*==================================
  about
==================================*/
.about {
    padding-top: 5rem;  /* 상단 패딩만 유지 */
}

.about-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.profile-image {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-top: 5rem;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content h1 {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--color-900);
    margin-bottom: 2rem;
}

.about-content h1 span {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

.about-text {
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--color-500);
    margin-bottom: 4.5rem;
}

/*==================================
  mobile 📱
==================================*/
@media (max-width: 800px) {
    
    /*==================================
      top navigation & mobile menu & footer
    ==================================*/

    /* top navigation */
    .nav-container {
        height: 70px;
    }

    .navbar {
        font-size: 1.5rem;
    }

    /* mobile menu */
    .mobile-menu-button {
        display: block;
        position: relative;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 200vh;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20vh;
        align-items: center;
        gap: 3rem;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
    }

    .nav-links.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-links a {
        font-size: 2rem;
    }

    .mobile-menu-button.active .bar.long {
        transform: rotate(45deg) translate(5px, 5px);
        width: 28px;
    }

    .mobile-menu-button.active .bar.short {
        transform: rotate(-45deg) translate(5px, -5px);
        width: 28px;
        margin-left: 0;
    }

    .menu-open {
        overflow: hidden;
    }

    /* footer */
    .footer-left p {
        display: none;
    }

    .footer-container {
        justify-content: center;
    }

    /*==================================
     main
    ==================================*/

    .hero {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .hero-image {
        position: absolute;
        z-index: 1;
        width: 600px;
    }
    
    .hero-image img {
        width: 100%;
        height: auto;
    }

    /* project cards */

    .projects {
        margin-bottom: 8rem;
    }

    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .project-card {
        margin-bottom: 2rem;
    }
    
    .card-image {
        height: 220px;
    }

    .tag {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .card-title {
        font-size: 1.3rem;
        font-weight: 700;
    }

    .card-subtitle {
        font-size: 1rem;
        font-weight: 400;
    }
    

    /*==================================
    work
    ==================================*/
    
    /* container & item divider */
    
    .work {
        padding: 8rem 0 8rem;
    }

    .work-divider img {
        width: 60px;
        margin: 0 auto;
    }

    /* header */
    .work-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.1rem;
    }
    
    .header-title h1 {
        font-size: 1.3rem;
    }

    .header-period {
        font-size: 1rem;
        width: 100%;
        justify-content: space-between;
    }

    .header-description {
        font-size: 1rem;
        line-height: 1.7;
    }

    /* body */

    .body-teamTitleStart {
        font-size: 1rem;
        font-weight: 500;
    }

    .body-teamTitleEnd {
        font-size: 1rem;
        font-weight: 500;
    }

    .body-title {
        font-size: 1.1rem;
    }

    .body-title span {
        font-size: 0.9rem;
        margin-left: 0.2rem;
    }

    .body-description {
        font-size: 1rem;
    }
    
    /* body meta */
    .link-icon {
        width: 18px;
    }

    .body-title a .title-tag {
        font-size: 0.75rem;
        color: var(--color-700);
    }
    
    /* preview image */
    .project-image-preview {
        display: none;
    }


    /*==================================
      about
    ==================================*/

    .about {
        padding-top: 3rem;
    }

    .about-container {
        gap: 2.8rem;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    .about-content h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .about-content h1 span {
        font-weight: 600;
    }

    .about-text {
        font-size: 1.05rem;
        margin-bottom: 0rem;
    }

}
