/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-background: #E9E9E9;
    --gray-1: #000000;
    --gray-2: #323232;
    --gray-3: #555555;
    --gray-4: #8D8D8D;
    --color-white: #FFFFFF;
    --color-divider: #cdcdcd;
    
    /* UI Colors */
    --color-hover: rgba(0, 0, 0, 0.3);
    
    /* Card Colors */
    --color-dummy-background: #4A90E2;
}

body {
    font-family: 'Outfit', 'Pretendard', sans-serif;
    background-color: var(--color-background);
}

/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--gray-1);
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-item {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--gray-2);
    text-decoration: none;
    transition: opacity 0.3s ease;
}

/* 네비게이션 효과*/
.nav-item:hover {
    opacity: 0.7;
}

.nav-item.active {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-text {
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 8rem;
    color: #ffffff;
    white-space: nowrap;
}

.hero-image {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 700px;
}

.hero-image img {
    width: 100%;
    height: auto;
}

/* Projects Section */
.projects {
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 12rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.project-card {
    position: relative;
    overflow: hidden;
}

.tag {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1rem;
    z-index: 1;
}

.card-image {
    width: 100%;
    height: 240px;
    background-color: var(--color-dummy-background);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: var(--gray-2);
}

.card-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-3);
    margin-bottom: 0.8rem;
}

.card-caption {
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--gray-4);
}

/* Footer Section */
.footer {
    padding: 4rem 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-left p {
    font-size: 1.2rem;
    color: var(--gray-2);
}

.footer-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-right img {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

.footer-right a:hover img {
    opacity: 0.7;
}

/* About 페이지 스타일 */
.about {
    padding-top: 8rem;  /* 상단 패딩만 유지 */
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;    /* 컨테이너에 좌우 패딩 추가 */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.profile-image {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-top: 5rem;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--gray-1);
    margin-bottom: 0.3rem;
}

.about-content h1 span {
    font-size: 1.5rem;  /* 영문 이름보다 작게 설정 */
    font-weight: 700;
    margin-left: 0.2rem;
    color: var(--gray-1);  /* 살짝 연하게 설정 */
}

.about-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-3);
    margin-bottom: 4.5rem;
}

.about-text {
    font-size: 1.25rem;
    line-height: 1.8;
    color: var(--gray-2);
    margin-bottom: 4.5rem;
}

.social-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 16rem;
}

.social-links img {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

.social-links a:hover img {
    opacity: 0.7;
}

.footer-section a {
    color: var(--gray-3);
}

.footer-bottom {
    border-top: 1px solid var(--color-divider);
}

/* Work Page Styles */
.work {
    padding: 13rem 0 4rem;
}

.work-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.work-item {
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--color-divider);
}

/* 마지막 아이템은 구분선 제거 */
.work-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-title {
    display: flex;
    align-items: center;
}

.work-title h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--gray-1);
}

.work-description {
    font-size: 1.2rem;
    color: var(--gray-3);
    margin-bottom: 1.8rem;
}

.work-period {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    color: var(--gray-1);
}

.chevron-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    transition: transform 0.3s ease;
}

.chevron-button.active {
    transform: rotate(180deg);
}


.work-detail {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--gray-2);
    margin-bottom: 4rem;
}

.collapsible-content {
    display: none;
}

.collapsible-content.active {
    display: block;
}

.work-section {
    margin-bottom: 4rem;
}

.work-section h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-2);
    margin-bottom: 1.5rem;
}

.work-section ul {
    list-style: none;
}

.work-section li {
    margin-bottom: 1.5rem;
}

.work-section h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-2);
    margin-bottom: 0.5rem;
}

.work-section p {
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--gray-3);
    line-height: 1.5;
}