<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="logo">donny</a>
        <button class="mobile-menu-button">
            <span class="bar long"></span>
            <span class="bar short"></span>
        </button>
        <div class="nav-links">
            <a href="work.html" class="nav-item">work</a>
            <a href="https://brunch.co.kr/@okid2318?tab=articles" class="nav-item" target="_blank" rel="noopener noreferrer">blog</a>
            <a href="about.html" class="nav-item">about</a>
        </div>
    </div>
</nav>
